.home-container {
  min-height: 100vh;
  background-color: rgb(185, 206, 196) !important;
  color: rgb(6, 20, 174);
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  justify-content: center;
  text-align: center;
}
.products-container {
  min-height: 100vh;
  background-color: rgb(185, 206, 196) !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 70px;
  text-align: center;
}